<menu class="nav navbar-nav navbar-right btn-group">
  <button type="menu" value="Log Out" class="btn btn-default navbar-btn">Log Out</button>
  <button type="menu" value="Account" class="btn btn-default navbar-btn">Account</button>
</menu>
