<nav class="well">
  <ul class="nav nav-pills">
    <li class="{{activeClass 'dashboard'}}"><a href="/dashboard">Dashboard</a></li>
    <li class="{{activeClass 'projects'}}"><a href="/projects">Projects</a></li>
    <li class="pull-right {{activeClass 'profile'}}"><a href="/profile">Edit Profile</a></li>
  </ul>
</nav>
