<nav class="well">
  <ul class="nav nav-pills">
    <li class="{{activeClass 'dashboard'}}"><a href="/researcher/dashboard">Dashboard</a></li>
    <li class="{{activeClass 'projects'}}"><a href="/researcher/projects">Projects</a></li>
    <li class="pull-right {{activeClass 'profile'}}"><a href="/researcher/profile">Edit Profile</a></li>
  </ul>
</nav>
