{{> page-header/page-header}}

<section class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a></p>
  </div>
</section>
