{{> page-header/page-header}}

<div class="container">
  <header class="page-header">
    <h1>Log In / Register</h1>
  </header>

  {{> user-forms/login-form}}

  {{> user-forms/register-form}}
</div>
